<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>UML a Código Java</title>
    <script defer src="{{ url_for('static', filename='js/scripts.js')
}}"></script>
</head>

<body>
    <h1>Generador de Código Java desde UML</h1>
    <!-- Botón para generar diagram.xmi y procesar con Traductor.py -->
    <button id="generate-diagram">Generar y Procesar Diagrama</button>
    <div id="status"></div>
</body>

</html>